.form-box{
    padding:1rem 1rem 1rem 1rem ;
    width:60%;
    margin-left: 20%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background: whitesmoke;
    border: 0.2rem solid #890000;
    border-radius: 2rem;
    align-content:center;
    
}

.form-box h2{
    padding-bottom: 2rem;
}

.form-box textarea{
    width:100%;
    height:10rem;
    border:0.2rem solid #890000;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 0.3rem;
    resize: none;
}

.form-box button{
    width:20%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border:0.2rem solid #890000;
    font-size: medium;
    padding:10px 15px;
    cursor:pointer;
    margin-bottom: 2rem;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 10px;

}

.review {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border:0.2rem solid #890000;
    margin-bottom: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    vertical-align: auto;
    
}

.content h5{
    text-align: center;
    padding: 10px;
}

.content p{
    width:100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
}

.form-box label{
    font-size:1rem;
}

button:hover {
    opacity:0.8;
    background-color: #890000;
    color:rgb(255, 255, 255);
}
img {
    margin:10px;
    width: 100px;
    height: 100px;
    object-fit:cover;
    margin-left:100px;
  }
  .content {
    padding:10px 10px 10px 10px ;
    width:60%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 2.5%;
    background: whitesmoke;
    align-content:center;
    float:right;
}
.image{
    float:left;
    margin-bottom:100px;
    margin-top: 20px;
}